pycache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.pytest_cache/
.coverage
htmlcov/
.env
.venv
env/
venv/
.DS_Store
*.egg-info/
.idea/
.vscode/

