LIVEKIT_URL= # <LiveKit url>
LIVEKIT_API_KEY= # <LiveKit api key>
LIVEKIT_API_SECRET= # <LiveKit api secret>

DEEPGRAM_API_KEY= # <Deepgram API key>
ELEVEN_API_KEY= # <ElevenLabs API key>
OPENAI_API_KEY= # <OpenAI Api Key>
